################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NuigetTool/packages
/NuigetTool/.vs/NuigetTool/v16
bin/*
obj/*
/NuigetTool/NuigetTool/bin
/NuigetTool/NuigetTool/obj

/NuigetTool/.vs/NuigetTool
/NuigetTool/NugetTool/bin
/NuigetTool/NugetTool/obj
/NuigetTool/.vs/ProjectEvaluation
**/.vs
**/*.user
/NuigetTool/NugetTool/Properties/PublishProfiles/FolderProfile.pubxml.user
