<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaGet.Protocol" version="0.2.0-master-1047" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="NuGet.Common" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="NuGet.Configuration" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="NuGet.Packaging" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="NuGet.Protocol" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="NuGet.Versioning" version="5.0.0-rtm.5856" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net472" />
</packages>